body{
    display: flex;
    justify-content: center;
    margin-top: 300px;
   background-color: rgb(100, 63, 0);
    
}
.time{
    font-size: xx-large;
    color: teal;
}
.date{
    font-size: large;
    color: rgb(42, 71, 165);
}
.dc{
    font-size: 55px;


}